<html>
  <head>
    <title>Login!</title>
  </head>
  <body>

    <form action="/books/new" method="POST">
      <label>Title</label>
      <br><br>
      <input type="text" name="title" id="title">
      <br><br>

      <label>Genre</label>
      <br><br>
      <input type="text" name="genre" id="genre">
      <br><br>

      <input type="submit" value="submit">
    </form>

  </body>
</html>
