<html>
  <head>
    <title></title>
  </head>
  <body>

    <h1><%=@book.title%></h1>
    <h1><%=@book.author%></h1>
    <h1><%=@book.title%></h1>
    <h1><%=Owner.find(@book.user_id).username%></h1>

    <br></br>
    <h1><a href = '/books/paramsss/delete'>Delete This Book</a></h1>

  </body>
</html>
